/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

/* fonts */
/* font-family: 'Bebas Neue', cursive;
font-family: 'Signika', sans-serif; */
/* fonts */
body {
    font-family: 'Signika', sans-serif; 
}
/* general */
.title {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Signika', sans-serif;
    margin: 15px 0;
}
.text {
    font-size: 15px;
    font-weight: 500;
    font-family: 'Signika', sans-serif;
    line-height: 18px;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
}
.wrappper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.content {
    flex: 0 1 auto;
}
.hr {
    background-color: orange;
    max-width: 12%;
    height: 2px;
    margin: 25px 0;
}
.small__title {
    font-size: 26px;
    font-weight: 500;
    font-family: 'Signika', sans-serif;
    text-transform: uppercase;
}


/* header */
.header__main {
    background-color: #000000;
    color: white;
    padding: 20px;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav {
    flex: 0 1 auto;
}
.header__title {
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
.header__title::after {
    content: "it";
    text-transform: uppercase;
    color: orange;
}

.header__link {
    text-decoration: none;
    color: white;
    font-family: 'Bebas Neue', cursive;
    padding: 0 10px;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    transition: all .3s linear;
}
.header__link:hover {
    color: orange;
    padding: 0 0;
    margin: 0 10px;
}
.header__link:after {
    opacity: 0;
    position: absolute;
    content: "";
    background-color: orange;
    z-index: 1;
    top: 100%;
    left: 0%;
    height: 2.5px;
    width: 100%;
}
.header__link:hover:after {
    opacity: 1;
}

/* welcome */
.welcome__body {
    flex: 0 1 450px;
    min-height: 430px;
    min-width: 150px;
    margin: 0 15px;
}
.welcome {
    background-color: #808080;
}
.welcome__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.welcome__title {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 65px;
    align-self: start;
    margin: 30px 0;
    font-family: Arial, Helvetica, sans-serif;
}
.welcome__title::after {
    content: "it";
    text-transform: uppercase;
    color: orange;
}

.welcome__text {
    font-size: 32px;
    color: white;
    text-transform: uppercase;
    font-family: 'Signika', sans-serif;
}
.welcome__paragraph p {
    color: white;
    font-size: 17px;
    font-family: 'Signika', sans-serif;
    line-height: 20px;
    margin-bottom: 40px;
    line-height: 18px;
}
#hr {
    background-color: white;
    max-width: 10%;
    height: 2px;
    margin: 25px 0;
}

.body__button a {
    text-decoration: none;
    color: white;
    font-family: 'Signika', sans-serif;
    border: solid white 2px;
    padding: 6px 14px;
    margin: 0 0 20px 0;
    transition: all .3s linear;
}
.body__button a:hover {
    color: orange;
    border: solid orange 2px;
}
.welcome__inputs {
    display: flex;
    flex-direction: column;
    padding: 0 35px;
}
.welcome__forma {
    background-color: white;
    flex: 0 1 270px;
    min-width: 150px;
    align-items: center;
    margin: 35px 15px 15px 15px;
    text-align: center;
}
.welcome__formatitle {
    color: black;
    background-color: #F5F5F5;
    font-size: 20px;
    font-family: 'Signika', sans-serif;
    padding: 20px 0;
    font-weight: 600;
    align-items: center;
}
.welcome__input{
    border-bottom: solid 2px silver;
    align-items: center;
    margin: 15px 0;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Signika', sans-serif;
}
.welcome__started a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
    background-color: orange;
    align-items: center;
    padding: 15px 0;
    font-family: 'Signika', sans-serif;
}

/* social */
.social__body {
    background-color: #ffffff;
}
.social__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social__main {
    flex: 0 1 330px;
    margin: 15px 0;
}
.social__title {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Signika', sans-serif;
    padding: 15px 0 10px 15px;
}
.social__text {
    font-family: 'Signika', sans-serif;
    font-size: 16;
    padding: 0 0 15px 15px;
}
.social__images {
    flex: 0 1 300px;
    margin: 15px;
}

.social__images i {
    margin-right: 15px;
    color: rgb(153, 152, 152);
    transition: all .3s linear;
}
.social__images i:hover {
    color: orange;
}
.social__hr {
    max-width: 100%;
    border: solid gray 1px;
    box-shadow: 2px 3px 4px 1px gray;
}

/* tabs */
.tabs {
    padding: 33px 0;
    background-color: #f5f5f5;
    margin-bottom: 25px;
}
.tabs__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.tab__title {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Signika', sans-serif;
    margin: 25px 0 20px 15px;
}
.tab__text {
    font-size: 15px;
    font-weight: 500;
    font-family: 'Signika', sans-serif;
    margin: 15px 0 20px 15px;
    line-height: 18px;
}
.tab__text :nth-last-child() {
    margin: 15px 0;
}
.tab__button{
    margin: 35px 8px;
}
.tab__button a{
    text-decoration: none;
    color: white;
    padding: 8px 14px;
    background-color: orange;
    border-radius: 4%;
    font-family: 'Signika', sans-serif;
}
.tab__tower {
    background-color: #333333;
    color: white;
    font-family: 'Signika', sans-serif;
    font-size: 17px;
    margin: 1px 15px;
    padding: 25px 40px;
    cursor: pointer;
}
.tab__tower.is-active {
    background-color: orange;
    transition: all .3s linear;
}
.tabs__body {
    flex: 0 1 400px;
}
.tabs__image img{
    margin: 0 15px;
    flex: 0 1 270px;
    display: none;
}
.tab__image.is-active {
    display: block;
   
}

/* sub */
.sub{
    background-color: #ffffff;
    margin: 50px 0;
}
.sub__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.sub__image img{
    margin: 0 25px;
    flex: 0 1 300px;
}
.sub__body {
    flex: 0 1 500px ;
}
.sub__title {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Signika', sans-serif;
    margin: 17px 15px 15px;
}
.sub__title::after {
    content: "";
    border-bottom: solid 2px orange;
    width: 30%;
}
.sub__paragraph {
    font-size: 15px;
    font-weight: 500;
    font-family: 'Signika', sans-serif;
    margin: 15px 15px 15px;
    line-height: 18px;
}
#sub__hr {
    margin-left: 15px;
}
.text__title {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Signika', sans-serif;
    padding: 15px;
    margin-top: 15px;
    line-height: 18px;
}
.text__body {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Signika', sans-serif;
    padding: 5px 0 0 15px;
}
.fa-cloud-upload-alt {
    margin: 0 15px 0 0;
    padding: 6px;
    color: orange;
    cursor: pointer;
}

/* standard */
.standard {
    background-color: #F5F5F5;
    padding: 40px 15px;
}
.standard__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.standard__body {
    flex: 0 1 450px;
    margin: 10px 10px 10px 0;
}
.standard__title {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Signika', sans-serif;
    margin: 15px 0;
}
.standard__text p {
    margin: 18px 0;
    line-height: 18px;
}
.standard__image img{
    margin: 0 5px;
    flex: 0 1 300px;
}

/* why */
.why {
    margin: 35px 15px 50px 15px; 
}
.why__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    flex-wrap: wrap;
}
.why__title {
    margin: 35px 0 20px 0;
}

.title__row {
    text-align: center;
    margin: 25px 0;
}
.why__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 1 240px;
    margin-left: 15px;
}
.why__center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 1 240px;
    margin-left: 15px;
}
.why__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 1 240px;
    margin-left: 15px;
}
.why__subtitle {
    margin: 15px 0;
}
.left__text {
    padding: 10px 10px;
}
.center__text {
    padding: 10px 10px;
}
.right__text {
    padding: 10px 10px;
}
.why__icon {
    color: orange;
    border: orange solid 2px;
    padding: 12px 20px;
    border-radius: 100%;
}
.why__hr hr {
    margin: 25px auto;
    max-width: 6%;
}
/* pricing */
.pricing {
    background-color: #F5F5F5;
}
.price__row {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 45px 0;
}
.pricing__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    margin: 15px 15px 35px 15px;
    flex-wrap: wrap;
}
.pricing__basic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex: 0 1 260px;
    text-align: center;
    margin-bottom: 35px;
    cursor: pointer;
}
.pricing__professional {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex: 0 1 260px;
    text-align: center;
    margin-bottom: 35px;
    cursor: pointer;
}
.pricing__enterprise {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex: 0 1 260px;
    text-align: center;
    margin-bottom: 35px;
    cursor: pointer;
}
.pricing__holder {
    background-color: #333333;
}
.pricing__title {
    color: white;
    background-color: #333333;
    font-size: 22px;
    padding: 15px 0;
    margin-bottom: 1px;
}
.pricing__cost{
    padding: 25px 0;
    color: white;
    font-size: 40px;
}
.pricing__little {
    color: white;
    padding: 8px 0;
}
.pricing__orange {
    color: white;
    background-color: orange;
    padding: 4px 0;
}
.pricing__body {
    background-color: #FFFFFF;
    padding: 10px;
}
.pricing__body p {
    line-height: 28px;
    text-transform: uppercase;
}
.price__hr hr {
    margin: 25px auto;
    max-width: 6%;
}

/* what */
.whats__title {
    text-align: center;
}
.whats__hr hr {
    margin: 25px auto;
    max-width: 6%;
}
.whats__text {
    margin-bottom: 25px;
}
.what__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.what__title {
    font-size: 18px;
    font-weight: 600;
    padding: 8px 15px;
}
.what__subtitle {
    padding: 0 15px;
}
.what__text {
    background-color: #f5f5f5;
    padding: 14px 8px;
    margin: 15px;
}
.what__left {
    margin: 25px 15px;
    flex: 0 1 250px;
}
.what__center {
    margin: 25px 15px;
    flex: 0 1 250px;
}
.what__right {
    margin: 25px 15px;
    flex: 0 1 250px;
}

/* contacts */
.contact {
    background-color: #F5F5F5;
    color: black;
}
.contacts__titles {
    padding-top: 45px;
}
.contacts__title {
    margin: 15px;
    text-align: center;
}
.contacts__hr hr {
    margin: 25px auto;
    max-width: 6%;
}
.contacts__text {
    margin-bottom: 35px;
}
.contact__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 25px;
}
.contact__left {
    flex: 0 1 300px;
}
.contact__left input {
    border-bottom: 1px splid gray;
    margin: 10px 10px;
    border-bottom: gray 1px solid;
    padding: 8px;
    font-size: 15px;
    font-family: 'Signika', sans-serif; 
}
.contact__right {
    flex: 0 1 300px;
}
.contact__right textarea {
    border-bottom: gray 1px solid;
    resize: none;
    margin: 10px;
}
.contact__link {
    text-align: center;
    position: relative;
    top: -20px;
    margin: 5px;
}
.contact__link a {
    color: white;
    background-color: orange;
    padding: 8px 14px;
}

/* footer */
.footer {
    background-color: #000000;
}
.footer__row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer__logos {
    flex: 0 1 10px;
    margin: 15px;

}
.footer__logos i{
    color: white;
    margin: 0 15px;
}
.footer__logos i:hover {
    color: orange;
}
.footer__name {
    color: white;
    margin: 15px 10px;
}









